<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout pattern="%d %-5p [%t] %logger{36} (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.log4j.xml" level="info" />
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>


<!-- <?xml version="1.0" encoding="UTF-8"?> <Configuration status="WARN"> 
	<Appenders> <Console name="Console" target="SYSTEM_OUT"> <PatternLayout pattern="%d{YYYY-MM-dd 
	HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" /> </Console> <RollingFile name="RollingFile" 
	filename="log/CrunchifyTest.log" filepattern="${logPath}/%d{YYYYMMddHHmmss}-fargo.log"> 
	<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" 
	/> <Policies> <SizeBasedTriggeringPolicy size="100 MB" /> </Policies> <DefaultRolloverStrategy 
	max="20" /> </RollingFile> </Appenders> <Loggers> <Root level="info"> <AppenderRef 
	ref="Console" /> <AppenderRef ref="RollingFile" /> </Root> </Loggers> </Configuration> -->